
<div class="route-content">
  <div id="map" style="height: 60vh; width: 100%;"></div>

  <div class="route-card">
    <div class="card-content">
      <div class="card-title">{{ destination?.title }}</div>
      <div class="card-address">{{ destination?.address }}</div>
      <div *ngIf="destination?.cep">CEP {{ destination.cep }}</div>
      <div *ngIf="destination?.phone">
        <a [href]="'tel:' + destination.phone" class="card-phone">{{ destination.phone }}</a>
      </div>
      <div class="card-info">
        <span *ngIf="distance"><i class="material-icons">place</i> {{ distance }}</span>
        <span *ngIf="duration"><i class="material-icons">schedule</i> {{ duration }}</span>
      </div>
      <button mat-raised-button class="button-route" (click)="openDirections()">Como chegar</button>
    </div>
  </div>
</div>