<div class="reset-password-container">
    <mat-card>
      <mat-card-title>Recuperar Senha</mat-card-title>
      <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <!-- Campo Nova Senha -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nova Senha</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" required>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button" aria-label="Mostrar/Ocultar senha">
              <mat-icon *ngIf="hidePassword">visibility_off</mat-icon> <!-- Closed Eye -->
              <mat-icon *ngIf="!hidePassword">visibility</mat-icon> <!-- Open Eye -->
            </button>
            <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors?.required">
              A senha é obrigatória.
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors?.minlength">
              A senha deve conter no mínimo 8 caracteres.
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.controls.newPassword.errors?.passwordStrength">
              A senha deve conter pelo menos uma letra maiúscula, uma letra minúscula e um caractere especial.
            </mat-error>
          </mat-form-field>
  
          <!-- Campo Confirmar Senha -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirme sua Senha</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
            <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button" aria-label="Mostrar/Ocultar senha">
              <mat-icon *ngIf="hideConfirmPassword">visibility_off</mat-icon> <!-- Closed Eye -->
              <mat-icon *ngIf="!hideConfirmPassword">visibility</mat-icon> <!-- Open Eye -->
            </button>
            <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.invalid">
              As senhas não coincidem.
            </mat-error>
          </mat-form-field>
  
          <!-- Botão de Submissão -->
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
              Redefinir Senha
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  