.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    mat-card {
        max-width: 400px; // Adjust as needed
        margin: 20px auto;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    mat-form-field {
        width: 100%;
    }

    mat-icon {
        cursor: pointer; // Change the cursor to pointer for better UX
    }
}