<mat-toolbar class="footer" color="primary">
    <div class="footer-container">
      <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button routerLink="/adicionar-credito">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Adicionar Crédito</span>
      </button>
      <button mat-button routerLink="/consulta-vagas">
        <mat-icon>search</mat-icon>
        <span>Consulta de Vagas</span>
      </button>
      <button mat-button routerLink="/historico">
        <mat-icon>history</mat-icon>
        <span>Histórico</span>
      </button>
    </div>
  </mat-toolbar>
  