.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  button {
    color: white;
  }
  