header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to right, rgb(43, 250, 185), rgb(0, 128, 128));
  color: white;
  z-index: 1000;
  position: relative;

  .hamburger-menu {
    button {
      background: none;
      border: none;
      font-size: 24px;
      color: rgb(98, 115, 123);;
      cursor: pointer;
    }
  }

  .app-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family:"open Sans" ;
    color: rgb(98, 115, 123);
  }

  .login-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

/* Menu fechado inicialmente */
.menu-list {
  position: absolute; /* Posicionado logo abaixo do header */
  top: 100%; /* Para ficar logo abaixo do header */
  left: -250px; /* Fora da tela inicialmente */
  width: 250px;
  height: auto; /* Define altura dinâmica */
  background: linear-gradient(to right, rgb(43, 250, 185), rgb(0, 128, 128));
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.4s ease; /* Animação suave ao deslizar */
  z-index: 999; /* Abaixo do header, acima do conteúdo */

  ul {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    height: 100%;

    li {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid #555;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

/* Quando o menu estiver aberto */
.menu-open {
  left: 0; /* Move o menu para dentro da tela */
}

/* Se você quiser que o carousel ou conteúdo principal esteja logo abaixo */
main {
  margin-top: 20px; /* Espaçamento abaixo do header */
}

.login-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-dropdown {
  position: absolute;
  top: 60px; /* Ajuste conforme a posição do avatar */
  right: 0;
  background: linear-gradient(to right, rgb(43, 250, 185), rgb(0, 128, 128));;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.avatar-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.avatar-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.avatar-dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.1);;
}

.user-name {
  margin-top: 4px; // Espaço entre o avatar e o nome
  font-size: 14px; // Tamanho da fonte
  color: #333; // Cor do texto
  text-align: center; // Centraliza o texto
}
