<div *ngIf="paymentConfirmed" class="confirmation-message">
  <p>Pagamento confirmado com sucesso!</p>
</div>

<div class="search-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" fxFlex="100" fxFlex.xs="90" fxFlex.sm="95" fxFlex.md="80">
    <mat-form-field fxFlex="100%" appearance="outline">
      <mat-label>Buscar estacionamento (Nome ou Endereço)</mat-label>
      <input matInput formControlName="search" placeholder="Digite o nome ou endereço do estacionamento" 
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          <span>{{ option.title }}</span> <small style="color: #888;">{{ option.address }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button class="botao" mat-raised-button color="primary" type="submit">Buscar</button>
  </form>
</div>

<div class="card">
  <div id="map" class="map-container" style="height: 400px; width: 100%;"></div>
</div>

<div *ngIf="selectedParkings.length > 0" class="selected-parkings-list">
  <h4>Estacionamentos Selecionados:</h4>
  <div *ngFor="let marker of selectedParkings" class="parking-list-item">
    <h4>{{ marker.title }} - {{ marker.label }}</h4>
    <p>{{ marker.address }}</p>

    <!-- Campo para selecionar a data -->
    <mat-form-field appearance="outline" class="date">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="updateSelectedParkingDate(marker, $event.value)"
        placeholder="Escolha a data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Campo para selecionar a hora de entrada -->
    <mat-form-field appearance="outline" class="time">
      <mat-label>Hora de Entrada</mat-label>
      <mat-select [(value)]="marker.selectedTime" (selectionChange)="updateSelectedParkingTime(marker, $event)">
        <mat-option value="">Selecione</mat-option>
        <mat-option *ngFor="let time of getEntryTimeOptions(marker.selectedDate)" [value]="time">{{ time }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Campo para selecionar a hora de saída -->
    <mat-form-field appearance="outline" class="time">
      <mat-label>Hora de Saída</mat-label>
      <mat-select [(value)]="marker.selectedExitTime" (selectionChange)="updateSelectedParkingExitTime(marker, $event)">
        <mat-option value="">Selecione</mat-option>
        <mat-option *ngFor="let time of getExitTimeOptions(marker.selectedTime)" [value]="time">{{ time }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>
      <strong>Valor Total:</strong>
      {{ calculateTotal(marker) | currency:'BRL':'symbol':'1.2-2':'pt' }}
    </p>

    <button mat-button color="warn" (click)="removeParking(marker)">Remover</button>
  </div>
</div>

<div *ngIf="selectedParkings.length > 0" class="confirm-container" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" class="botao" (click)="confirmSelection()"
    [disabled]="!areDatesAndTimesSelected()">
    Confirmar
  </button>
</div>