.pre-reserva-container {
    padding: 75px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  h3 {
    margin: 5px 0;
  }
  
  h2 {
    color: #4caf50;
  }
  
  p {
    margin: 5px 0;
  }
  
  .timer {
    font-size: 1.5em;
    color: #ff5722;
  }
  
  .card{
    margin-top: 14px;
  }