<div class="carousel">
  <carousel>
    <slide>
      <img src="assets/images/promo1.jpeg" alt="Promoção 1" width="100%" height="300">
      <div class="carousel-caption"></div>
    </slide>
    <slide>
      <img src="assets/images/promo2.jpeg" alt="Promoção 2" width="100%" height="300">
      <div class="carousel-caption"></div>
    </slide>
    <slide>
      <img src="assets/images/promo3.jpeg" alt="Promoção 3" width="100%" height="300">
      <div class="carousel-caption"></div>
    </slide>
  </carousel>
</div>