.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .login-title {
    margin-top: 81px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .form-actions {
    text-align: center;

    button {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:disabled {
        background-color: #999;
      }

      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }
  }

  .login-options {
    text-align: center;
    margin-top: 20px;

    a {
      display: block;
      color: #007bff;
      text-decoration: none;
      font-size: 14px;
      margin: 5px 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .forgot-password {
      margin-bottom: 10px;
    }
  }

  .social-login {
    text-align: center;
    margin-top: 30px;

    p {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      color: white;
      transition: background-color 0.3s;

      &.google-login {
        background-color: #db4437;

        &:hover {
          background-color: #c13c30;
        }
      }

      &.facebook-login {
        background-color: #4267b2;

        &:hover {
          background-color: #3b5998;
        }
      }
    }
  }
}

.login-container {
  position: relative;
  padding: 20px;
}

.back-button {
  position: absolute;
  top: 81px;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.back-button svg {
  stroke: #000; /* Cor da seta */
  width: 24px;
  height: 24px;
}

/* Sobreposição que escurece o fundo */
mat-dialog-content {
  font-size: 16px;
}

mat-dialog-title {
  color: #f44336; // Cor vermelha para indicar erro
}

button {
  color: #2196f3; // Cor azul para os botões
}
