.confirmation-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  mat-card {
    padding: 20px;
    margin-top: 81px;
  }

  button {
    margin-top: 20px;
    background: linear-gradient(to right, #2bfab9, teal);
  }
}

.time-select {
  width: 100%;
  margin-top: 20px;
}
